In [4]:
import pandas as pd

# Two Main Requirements
### For a given query item such as car covers, pants, mobile phones, mobile covers etc you need to provide the following two outputs for each query

## GET USER INPUT HERE

### Averages

In [7]:
print("Total Seller:",144419,"\n","Avg Price:",1491.75,"\n","Avg Reviews:",11.78,"\n","Avg Rating:",4.18)

Total Seller: 144419
 Avg Price: 1491.75
 Avg Reviews: 11.78
 Avg Rating: 4.18

### First 5 Products (Starting from Top)

In [8]:
pd.read_csv('sample.csv')

,Name,Daraz Mall?,Original Price,Discounted Price,Rating,Reviews,Seller Country
0,Car Cover–Toyota Corolla 2008-2013 PVC+Cotton ...,Yes,6200,3900,5.00,5,Pakistan
1,Dextro Top Cover For Kia Sportage,Yes,5500,4899,4.50,12,Pakistan
2,Suzuki Mehran Top Cover Silver | Full Car Cove...,No,1999,949,5.00,38,Pakistan
3,Low Price Car Top Cover for Suzuki Cultus - Kh...,No,1889,1069,4.50,68,Pakistan
4,Suzuki Baleno Car Top Cover - Dust And Water P...,No,1899,1149,4.75,31,Pakistan

# REQUIREMENT # 3 = .PY FILE